@{
    ViewBag.Title = "About";
}
<div class="recent-listings">
    <div class="container">
        <div class="title-box">
            <h3>Who We Are</h3>
            <div class="bordered">
            </div>
        </div>
        <div class="row listings-items-wrapper">
            <p style="font-size: large; color: black; font-family: -webkit-body; ">A Rapidly Growing organization involved in real estate development in and around Jaipur</p>

            <p style="font-size: large; color: black; font-family: -webkit-body; ">The organization believes in the motto that says “sky is not limit but the beginning to explore something new.” The company is a promising one and hitherto, has benefitted its customers a lot. The organization has young & dynamic people having experience of more than a decade in the field of construction & real estate. The organization has successfully completed many residential projects & are developing around Jaipur.</p>

            <p style="font-size: large; color: black; font-family: -webkit-body; ">All the projects are designed by well-known architects, taking of all aspects for space management, quality of construction or the material used. All the government permissions are taken care of & make sure to complete the projects well in time. The organization has been successful in keeping its words with the clients. Thus resulting in developing homely relationship with them and giving them a peace of mind for dealing with a trustworthy group</p>
        </div>
    </div>
</div>